/* A-Eyes backgrounds.css
 * Backgrounds taken from http://lea.verou.me/css3patterns
 * Unless otherwise noted
 **/

.TownSquare {
	background:
		radial-gradient(circle at 0% 50%, rgba(12, 232, 465, 0) 9px, #613 10px, rgba(12, 232, 465, 0) 11px) 0px 10px,
		radial-gradient(at 100% 100%,     rgba(12, 232, 465, 0) 9px, #613 10px, rgba(12, 232, 465, 0) 11px), #8a3;
	background-size: 20px 20px;
}

.Home {
	background: 
		linear-gradient(135deg, #00A8DB 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, #00A8DB 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, #00A8DB 25%, transparent 25%),
		linear-gradient(45deg, #00A8DB 25%, transparent 25%);	
	background-size: 100px 100px;
	background-color: #00C6C9;
}

.GameHouse {
	background: 
		linear-gradient(135deg, #FF680D 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, #FF680D 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, #FF680D 25%, transparent 25%),
		linear-gradient(45deg, #FF680D 25%, transparent 25%);	
	background-size: 100px 100px;
	background-color: #E83F0C;
}

.GameRoom {
	background: 
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
		radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
		linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
	background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
	background-color: #840b2a;
}

.HouseGroup1 {
	background:
		linear-gradient(135deg, #E80C5E 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
		linear-gradient(225deg, #E80C5E 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
	background-color:#E80C5E;
	background-size: 64px 128px
}

.HouseGroup11 {
	background:
		linear-gradient(135deg, #0C83E8 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
		linear-gradient(225deg, #0C83E8 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
	background-color:#0C83E8;
	background-size: 64px 128px
}

.HouseGroup12 {
	background:
		linear-gradient(135deg, #FFA407 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
		linear-gradient(225deg, #FFA407 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
	background-color:#FFA407;
	background-size: 64px 128px
}

.HouseGroup13 {
	background:
		linear-gradient(135deg, #A90CE8 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
		linear-gradient(225deg, #A90CE8 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
	background-color:#A90CE8;
	background-size: 64px 128px
}

.HouseGroup2 {
	background-color: #eee;
	background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, yellow), 
		linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, yellow);
	background-size:60px 60px;
}

.HouseGroup21 {
	background-color: #eee;
	background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, blue), 
		linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, blue);
	background-size:60px 60px;
}

.HouseGroup22 {
	background-color: #eee;
	background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, green), 
		linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, green);
	background-size:60px 60px;
}

.HouseGroup23 {
	background-color: #eee;
	background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, red), 
		linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, red);
	background-size:60px 60px;
}

.Notebook {
	background-color: #fff; 
	background-image: 
		linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
		linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

.Stars {
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}