.pure-menu-list {
	float: right;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    width: 50%;
    margin: 0 auto;
}

/*********************************************
 * CONTROLS from reveal.js - https://github.com/hakimel/reveal.js/
 *********************************************/
.controls {
	margin: 0 auto;
  display: none;
  position: relative;
  width: 110px;
  height: 110px;
  z-index: 30;
  -webkit-user-select: none; }

.controls div {
  position: absolute;
  opacity: 0.05;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  -webkit-transform: scale(0.9999);
      -ms-transform: scale(0.9999);
          transform: scale(0.9999);
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.controls div.enabled {
  opacity: 0.7;
  cursor: pointer; }

.controls div.enabled:active {
  margin-top: 1px; }

.controls div.navigate-left {
  top: 42px;
  border-right-width: 22px;
  border-right-color: #000; }

.controls div.navigate-left.fragmented {
  opacity: 0.3; }

.controls div.navigate-right {
  left: 74px;
  top: 42px;
  border-left-width: 22px;
  border-left-color: #000; }

.controls div.navigate-right.fragmented {
  opacity: 0.3; }

.controls div.navigate-up {
  left: 42px;
  border-bottom-width: 22px;
  border-bottom-color: #000; }

.controls div.navigate-up.fragmented {
  opacity: 0.3; }

.controls div.navigate-down {
  left: 42px;
  top: 74px;
  border-top-width: 22px;
  border-top-color: #000; }

.controls div.navigate-down.fragmented {
  opacity: 0.3; }

